<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-lg-4 footer_col">

                <!-- Logo -->
                <div class="logo_container">
                    <div class="logo">
                        <a href="#">
                            <span>Seeking God Ministries</span>
                           <!-- <img src="images/logo_large.jpg" alt=""> -->
                        </a>
                    </div>
                    
                </div>
                <div class="footer_social">
                    <ul>
                    <!--	<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>acebook</li>
                    </ul>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-4 footer_col">
                <div class="footer_links">
                    <div class="footer_title">Useful Links</div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=s-xclick&hosted button id=ZRZU5XYB97DK6">Donations</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="#">Event List</a></li>
                        <li><a href="ministries.html">Meet the team</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_col">
                <div class="footer_contact">
                    <div class="footer_title">Contact Us</div>
                    <ul>
                        <li><span>Address: </span>32961 Vero Beach, Florida</li>
                        <li><span>P.O BOX: </span>2106</li>
                        <li class="footer_contact_phone">
                            <span>Phone: </span>
                            <div>
                                <div> +1 719 210 6774</div>
                                
                            </div>
                        </li>
                        <li><span>Email: </span>seekinggodmin@gmail.com</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright text-center">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Seeking God Ministries

</div>

</footer>