---
layout: default
---

<div class="home_ministries">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/ministries.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content d-flex flex-row align-items-center justify-content-start">
							<div class="home_title">Meet the Team</div>
							<div class="home_breadcrumbs ml-auto">
								<ul class="breadcrumbs">
									<li><a href="index.html">Home</a></li>
									<li>Meet the Team</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>